.mat-toolbar {
    font-family: "Ring";
}

button{
    font-family: "Ring";
    font-size: large;
    
}



a{
    text-decoration: none;
    color: #ffd700;
}

div {
    display: flex;
    flex: auto;
}







