<!--<p>figure-details works!</p>-->

<form class="edit-form" (submit)="onEditFigure(editForm)" #editForm="ngForm">

            <mat-form-field class="name" appearance="legacy">
                <mat-label>Name</mat-label>
                <input type="text" name="name" matInput [ngModel]="figure.name" required #name="ngModel">
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field class="description" appearance="legacy">
                <mat-label>Description</mat-label>
                <textarea matInput [ngModel]="figure.description" name="description" required #description="ngModel">
                        </textarea>
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field class="franchise" appearance="legacy">
                <mat-label>Franchise</mat-label>
                <select matNativeControl required [ngModel]="figure.franchise" name="franchise" #franchise="ngModel">
                    <option value="lotr">Herr der Ringe</option>
                    <option value="star wars">Star Wars</option>
                    <option value="divers">Divers</option>
                </select>
                <mat-error></mat-error>
            </mat-form-field>
       
</form>
<button *ngIf="admin" type="submit" mat-stroked-button color="primary">EDIT</button>
<button *ngIf="admin" mat-stroked-button color="warn">DELETE</button>

<!-- 
    [ngModel]="figure.name" enstspricht value="{{figure.name}}"
    bzw. Ersters muss genutzt werden, möchte man Daten receiven/prepopulaten + weiterverwenden/updaten
    Zweiteres ist nur fürs receiven/prepopulaten nützlich
-->