mat-form-field{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.creationForm{
  display: flex;
  justify-content: center;
  text-align: center;
}
  
  mat-card{
    margin-top: 3rem;
  }

  .mat-stroked-button{
    margin-top: 1rem;
  }

.imagePicker{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-preview{
  height: 10rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}


input[type=file]{
  visibility: hidden;
}

mat-spinner{
  margin: auto;
}
